name: Release to maven central
on:
  push:
    branches:
      - "!*"
    tags:
      - "v*"
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-13, macos-13-xlarge, ubuntu-22.04, buildjet-4vcpu-ubuntu-2204-arm]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Build with Maven
        run: mvn --batch-mode --update-snapshots verify
  deploy:
    needs: build
    runs-on: ubuntu-22.04
    env:
      SIGN_KEY: ${{ secrets.SIGN_KEY }}
      SIGN_KEY_PASS: ${{ secrets.SIGN_KEY_PASS }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21'
      - uses: s4u/maven-settings-action@v2.4.0
        with:
          servers: |
            [{
                "id": "central",
                "username": "${{ secrets.CENTRAL_TOKEN_USERNAME }}",
                "password": "${{ secrets.CENTRAL_TOKEN_PASSWORD }}"
            }]
      - name: Deploy to central
        run: mvn --batch-mode deploy